<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semaforos</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    <style>
        #semaphore {
            height: 90px;
            width: 35px;
            background: gray;
            border-radius: 10px;
            border: #000 solid 6px;
            align-content: center;
        }

        #red {
            height: 25px;
            width: 25px;
            border-radius: 360px;
            background: #ec6464;
            margin: 0px;
            border: black solid 5px;
        }

        #yellow {
            height: 25px;
            width: 25px;
            border-radius: 360px;
            background: #cfcf5c;
            margin: 0px;
            border: black solid 5px;
        }

        #green {
            height: 25px;
            width: 25px;
            border-radius: 360px;
            background: #70ca70;
            margin: 0px;
            border: black solid 5px;
        }
    </style>
</head>
<body>
<div id="semaphore">

    <div id="red"></div>
    <div id="yellow"></div>
    <div id="green"></div>


</div>


<div class="mw6 center pa3 sans-serif">
    <div class="pa2 mb3 striped--near-white">

        <div class="pl2">
            <label id="quote_type" class="mb2">Estado</label>
            <label id="status" class="mb2">{{ status }}</label>

        </div>

    </div>

</div>
<script>

    var status = document.getElementById("status").innerHTML;
    console.log(status);
    document.getElementById("quote_type").style.display = 'none';
    document.getElementById("quote_type").style.display = 'none';
    document.getElementById("status").style.display = 'none';
    document.getElementById("status").style.display = 'none';
    switch (status) {
        case 'Green':
            document.getElementById("green").style.background = "#09f309";
            break;
        case 'Yellow':
            document.getElementById('yellow').style.background = "#f3f308";
            break;
        case "Red":
            document.getElementById("red").style.background = "#e30404";
            break;

    }

</script>

</body>
</html>