#semaforo {
    height: 90px;
    width: 35px;
    background: gray;
    border-radius: 10px;
    align: center;
    margin-left: auto;
    margin-right: auto;
    border: #000 solid 6px;
    align-content: center;
}

#roja {
    height: 25px;
    width: 25px;
    border-radius: 360px;
    background: #ec6464;
    margin: 0px;
    border: black solid 5px;
}

#amarillo {
    height: 25px;
    width: 25px;
    border-radius: 360px;
    background: #cfcf5c;
    margin: 0px;
    border: black solid 5px;
}

#verde {
    height: 25px;
    width: 25px;
    border-radius: 360px;
    background: #70ca70;
    margin: 0px;
    border: black solid 5px;
}